## Chi2 case study

In [1]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import statsmodels.api as stats
import statsmodels.multivariate.manova as manova
from statsmodels.formula.api import ols

Assume that in a restraunt we have 50% distribution of veg and 50% non veg. \
We want to test if our sample data matches this distribution

In [2]:
from scipy.stats import chisquare
# hypothetical observed frequencies
observed = np.array([30, 70]) # e.g 30 ve 70 non veg
# expected frequency assuming 50-50 distribution
total_meals = observed.sum()
expected = np.array([total_meals*0.5, total_meals*0.5])

# perform chi2 test
chi2_stat, p_value = chisquare(observed, f_exp=expected)

#Output the results
print('Chi2 statistic: ', chi2_stat)
print('p-value: ', p_value)

Chi2 statistic:  16.0
p-value:  6.334248366623988e-05

In [3]:
# Applying chi2 test of tips data
import numpy as np
import pandas as pd
import seaborn as sns
from scipy.stats import chi2_contingency

df =sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [4]:
# create a contigency table
contigency = pd.crosstab(df['sex'], df['smoker'])
contigency

smoker  Yes  No
sex
Male     60  97
Female   33  54

In [6]:
# perform the chi-squared test
chi2, p, dof, expected = chi2_contingency(contigency)
print("Chi2:", chi2)
print("p-value:", p)
print("degree of freedom:", dof)
print("Expected:\n", expected)

Chi2: 0.0
p-value: 1.0
degree of freedom: 1
Expected:
 [[59.84016393 97.15983607]
 [33.15983607 53.84016393]]