## Min Max Scaling

In [2]:
# Importing libraries
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
# sample data
data = {'Value': [10, 20, 30, 40, 50, 60, 70, ]}
df = pd.DataFrame(data)
df.head()

   Value
0     10
1     20
2     30
3     40
4     50

In [4]:
scaler = MinMaxScaler()
df['Scaled_Value'] = scaler.fit_transform(df[['Value']])
print(df)

   Value  Scaled_Value
0     10      0.000000
1     20      0.166667
2     30      0.333333
3     40      0.500000
4     50      0.666667
5     60      0.833333
6     70      1.000000

## Logarithmic Scaling

In [5]:
import numpy as np
import pandas as pd

data = {'num': [10000, 20000, 30000, 40000, 50000, 60000, 70000]}
df2 = pd.DataFrame(data)
print(df2)
df2['num_scaled'] = np.log(df2)
df2

     num
0  10000
1  20000
2  30000
3  40000
4  50000
5  60000
6  70000

     num  num_scaled
0  10000    9.210340
1  20000    9.903488
2  30000   10.308953
3  40000   10.596635
4  50000   10.819778
5  60000   11.002100
6  70000   11.156251