In [1]:
my_list = ['22M', '12M', '340k', '322k', '576k',  '89M', 'Varies with device', '23M', '122k']

In [8]:
import pandas as pd
import numpy as np
df = pd.DataFrame(my_list)
df.head()

      0
0   22M
1   12M
2  340k
3  322k
4  576k

In [11]:
df.rename(columns = {0: 'Size'}, inplace=True)
df.head()

   Size
0   22M
1   12M
2  340k
3  322k
4  576k

In [19]:
df['Size'] = df['Size'].str.replace('M', '')
df['Size'] = df['Size'].str.replace('k', '')
df['Size'] = df['Size'].str.replace('Varies with device', None)
df.head(10)

TypeError: repl must be a string or callable

In [16]:
df['Size']

0     22
1     12
2    340
3    322
4    576
5     89
6
7     23
8    122
Name: Size, dtype: object